.section1{
    background-image: linear-gradient(90deg, #eeeeee 40%, white 40%);
}
.section1 .section-title h2{
    max-width: 30%;
    letter-spacing: -0.02em;
}
.section1 .section-title p{
    color: #666666;
    margin-top: 30px;
    max-width: 30%;
}
.section1 .container{
    display: grid; gap: 50px;
    grid-template-columns: repeat(2,1fr);
}
.section1 .item-1{
    overflow: hidden;
}
.section1 .item-1 img{transform: scale(1); transition: 0.5s;}
.section1 .item-1:hover img{transform: scale(1.1);}
.section1 .text-box{
    /* border: 1px solid blue; */
    color: #666666;
    padding-bottom: 20px;
}
.section1 .text-box .text1{}
.section1 .text-box h5{
    margin: 10px 0;
    font-size: 18px; font-weight: 300;
}
.section1 .text-box p{
    font-size: 14px; font-weight: 500;
}
.section1 .btn2{
    position: absolute; bottom: 0; left: 0;
    width: 100%;
}
.section1 .btn2:active{
    top: auto;
    bottom: -2px;
}

/* 222 */
.section2{
    background-image: linear-gradient(90deg, white 40%, #eeeeee 40%);
}
.section2 .container{}
.section2 .cont1{
    display: grid; grid-template-columns: repeat(2,1fr);
}
.section2 .cont1 .text-group{
    display: grid; grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.section2 .cont1 .text-box h5{margin-bottom: 10px;}
.section2 .cont2 .img-box{
    height: calc(100vh - 130px);
    overflow: hidden;
}
.section2 .cont2 .img-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section2 .cont2 .btn1{width: 50%;}
.section2 .cont2 .btn1 .line1{width: 100%;}
.section2 .cont2 .btn1 .line2{width: 100%; transform: scaleX(1.05);}
.section2 .cont2 .btn1:hover .line2{transform: scaleX(1);}

/* 333 */
.section3{
    background-image: linear-gradient(90deg, #eeeeee 40%, white 40%);
}
.section3 .container{
    display: grid; grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.section3 .cont1 .section-title p{
    color: #666666;
}
.section3 .cont1 .text-box{
    display: flex; gap: 10px;
    border-bottom: 1px solid #eeeeee;
    line-height: 50px;
    width: 400px;
}
.section3 .cont1 .text-box .icon{
    font-size: 15px;
    padding-left: 10px;
}
.section3 .cont1 .text-box span{
    color: #666666;
}
.section3 .cont1 .btn2{
    top: 5%;
    width: 50%;
}
.section3 .cont1 .btn2:active{
    transform: translateY(2px);
}
.section3 .cont2{
    display: grid; grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.section3 .cont2 .item{
    /* border: 1px solid blue; */
    overflow: hidden;
}
.section3 .cont2 .item img{
    transform: scale(1);
    transition: 0.5s;
}
.section3 .cont2 .item2{align-self: end;}
.section3 .cont2 .item3{
    grid-column: span 2;}
.section3 .cont2 .img-box{
    /* border: 1px solid red; */
    width: 300px; height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.section3 .cont2 .item:hover img{transform: scale(1.1);}

@media(max-width:800px){
    .section1{padding: 50px 0;}
    .section1 .container{display: block;}
    .section1 .section-title{width: 90%;}
    .section1 .section-title p{max-width: 90%;}
    .section1 .img-box{padding-bottom: 20px;}
    .section1 .text-box{padding-bottom: 20px;}
    .section1 .btn2{position: relative; margin-top: 0;}

    .section2{padding: 50px 0;}
    .section2 .cont1{display: block;}
    .section2 .cont2 .img-box{height: 400px;}
    .section2 .cont2 .btn1{width: 100%;}

    .section3{padding: 50px 0;}
    .section3 .container{display: block;}
    .section3 .cont1{margin-bottom: 50px;}
    .section3 .cont1 .text-box{width: 90%; line-height: 22px;padding: 10px 0;}
    .section3 .cont1 .btn2{position: relative; width: 100%;}
}