
section:nth-child(2){
    padding-top: 150px;
}

.page-name{
    text-transform: uppercase;
    background-color: black; color: white;
}
.page-name .container{
    padding-bottom: 20px;
    box-sizing: border-box;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

/* 상품페이지 */
.section1{}
.section1 .menu-box {
    display: grid;
    place-content: center;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 500px; margin: 0 auto;
    border-radius: 20px;
    padding-top: 10px; margin-bottom: 50px;
}

.section1 ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.section1 li {padding: 0 1.25rem; font-size: 16px; font-weight: 700;}

.section1 svg {
    color: var(--color-second);
    overflow: visible;
}

.section1 path {
--factor: 1;
    transition: all calc(0.4s * var(--factor)) ease-in-out;
}

.section1 a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    /* font-size: 2.75rem; */
    line-height: 1.25;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.section1 a.active {color: var(--color-second);}

.section1 .filter{
    display: flex; gap: 10px;
    justify-content: end;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 20px;
    cursor: pointer;
}
.section1 .filter img{
    width: 20px;
}
.section1 .filter-ul{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute; 
    top: 35px; right: 0; z-index: 1;
    display: block;
    background-color: white;
    display: none;
}
.section1 .filter-li{
    line-height: 35px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
.section1 .filter-li:hover{background-color: #dddddd;}

.section1 .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px; 
    column-gap: 30px;
    padding-bottom: 50px;
}
.section1 .item{}
.section1 .img-box{}
.section1 .bg{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 20px; box-sizing: border-box;
    clip-path: inset(0 0 100% 0);
    transition: 0.5s;
}
.section1 .bg .color{
    background-color: white;
    width: 100%; height: 100%;
}
.section1 .bg .btn{
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.section1 .img-box:hover .bg{clip-path: inset(0 0 0 0);}
.section1 .text-box{
    text-align: center;
    margin-top: 30px;
}
.section1 .text-box h4{font-family: var(--font-family-body);}
.section1 .text-box h4{font-weight: 700;}
.section1 .text-box p{}
.section1 .item{display: none;}
.section1 .all{display: block;}
.section1 .shop2::before{
    content: '';
    display: block;
    width: 10px; height: 10px;
    background-color: var(--color-point);
    border-radius: 50%;
    position: absolute; top: 0; left: 15%;
}

.section1 .page-num{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 100px;
}
.section1 .page-num p{
    cursor: pointer;
    border: 1px solid #aaa;
    width: 20px; height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.section1 .page-num p.active{background-color: black; border: none; color: var(--color-point); font-weight: 700;}

/* 연락처페이지 */
.section2{padding-bottom: 100px;}
.section2 .row1 h2{font-family: var(--font-family-title-k); padding-bottom: 20px;}
.section2 .row{margin-bottom: 80px;}
.section2 .row1{
    text-align: center;
}
.section2 .row1 p{
    max-width: 700px;
    margin: 0 auto;
}
.section2 .row2{
    background-color: aliceblue;
    width: 100%;
    height: 500px;
}
.section2 .row3{
    display: flex;
    gap: 30px;
}
.section2 textarea{height: 50px;}
.section2 .row3 .item{flex: 1;}
.section2 .input-box{margin-bottom: 20px;}
.section2 .input-box2{
    display: flex;
    gap: 20px;
}
.section2 .item2 i{
    font-size: 15px; 
    margin-right: 5px; 
    cursor: pointer; 
    transition: 0.5s;
}
.section2 .item2 i:hover{color: var(--color-second);}

/* 맴버쉽페이지 */
.section3{padding-bottom: 100px;}
.section3 .container{
    text-align: center;
}
.section3 span{color: var(--color-second);}
.section3 .row{}
.section3 .row1{padding-bottom: 70px;}
.section3 .row1 p{margin-top: 15px;}
.section3 .row2{
    display: grid; grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.section3 .row2 .item{
    border: 1px solid #dddddd;
    padding: 40px 20px;
}
.section3 .row2 .item h3{margin-bottom: 5px;font-family: var(--font-family-title-k); padding-bottom: 50px;}
.section3 .row2 .item .text{padding-bottom: 30px;}
.section3 .row2 .item h1{}
.section3 .row2 .btn{margin: 40px auto;}

/* 상세페이지 */
.section4{}
.section4 .container{}
.section4 .cont1{
    display: grid; grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding-bottom: 100px;
}
.section4 .cont1 .left{}
.section4 .cont1 .left .img-row{}
.section4 .cont1 .left .img-row1{width: 100%; height: 600px; overflow: hidden;}
.section4 .cont1 .left .img-row img{object-fit: cover;width: 100%; height: 100%;}
.section4 .cont1 .left .img-row1 .img-b{
    position: absolute; top: 0; left: 0;
    display: none;
}
.section4 .cont1 .left .img-row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; padding-top: 20px;
    cursor: pointer;
}
.section4 .cont1 .right{
    padding: 30px; box-sizing: border-box;
}
.section4 .cont1 .right h2{font-family: var(--font-family-title-k);}
.section4 .cont1 .star{color: peru;padding-top: 20px;}
.section4 .cont1 h3{margin-top: 15px; margin-bottom: 30px;display: flex;gap: 5px;}
.section4 .cont1 .won{
    font-family: var(--font-family-body); 
    font-size: 18px;}
.section4 .cont1 .item1{margin: 50px 0; display: flex; gap: 20px;}
.section4 .cont1 .input-box{
    border: 1px solid #dddddd;
    width: 80px; height: 50px;
}
.section4 .cont1 .num{padding-left: 20px; border: none; height: 50px;}
.section4 .cont1 .btn-{
    position: absolute; right: 0;
    width: 30px; height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 10px;
}
.section4 .cont1 .btn-::after{display: none;}
.section4 .cont1 .btn-p{top: 0;}
.section4 .cont1 .btn-m{bottom: 0;}
.section4 .cont1 .item2 .row{
    display: flex; gap: 10px;
    margin-top: 15px;
    align-items: center;
}
.section4 .cont1 .item2 h5{font-family: var(--font-family-title-k);}
.section4 .cont2{
    width: 80%; padding: 0 100px;
    box-sizing: border-box;
}
.section4 .cont2 .row1{
    display: flex;
    justify-content: center;
}
.section4 .cont2 .row1{border-bottom: 1px solid #dddddd;}
.section4 .cont2 .row1 h3{
    padding: 15px 35px;
    font-family: var(--font-family-title-k); 
    cursor: pointer;
}
.section4 .cont2 .row2{
    padding-top: 20px;
    padding-bottom: 100px;
}
.section4 .cont2 .row2 .box{text-align: center; display: none;}
.section4 .cont2 .row2 .fre{display: block;}
.section4 .cont3 h2{margin: 35px auto 20px;font-family: var(--font-family-title-k);}
.section4 .cont3 h4{font-weight: 700; cursor: pointer;}
.section4 .cont3 .grid{
    display: grid; grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding-bottom: 100px;
}
.section4 .bg{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 20px; box-sizing: border-box;
    clip-path: inset(0 0 100% 0);
    transition: 0.5s;
}
.section4 .bg .color{
    background-color: white;
    width: 100%; height: 100%;
}
.section4 .bg .btn{
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.section4 .img-box:hover .bg{clip-path: inset(0 0 0 0);}
.section4 .text-box{
    text-align: center;
    margin-top: 30px;
}
.section4 .text-box h4{font-family: var(--font-family-body);}
.section4 .point{color: var(--color-second);}
.section4 .start{color: var(--color-second);}

/* 히스토리페이지 */
.section5{}
.section5 .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 200px;
    grid-auto-flow: dense;
}
.section5 .item{box-sizing: border-box;}
.section5 .item1{}
.section5 .item2{}
.section5 .item3{grid-column: 2;}
.section5 .item4{}
.section5 .item5{}
.section5 .item6{}
.section5 .item7{grid-column: 2;}
.section5 .item8{}
.section5 .item-img{padding-bottom: 100px;}
.section5 .line{
    position: absolute; top: 0; left: 50%;
    width: 1px; height: 100%;
    background-color: rgba(0,0,0,0.05);
}
.section5 .line .color{
    width: 100%; height: 10px;
    background-color: black;
    transition: 1s;
}

.section5 .item-text{padding-top: 100px;}
.section5 .item-text .row1{
    line-height: 0;
    margin-bottom: 30px;
    font-weight: 700;
}
.section5 .item-text .row1::before,
.section5 .item-text .row1::after{
    content: '';
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
}
.section5 .item-text .row1::before{
    width: 100px; height: 1px; left: -100px; top: 0;
}
.section5 .item-text .row1::after{
    width: 8px; height: 8px;
    left: -104px; top: -4px;
    border-radius: 50%;
}
.section5 .item4.item-text .row1,
.section5 .item8.item-text .row1{
    text-align: right;
}
.section5 .item4.item-text .row1::before,
.section5 .item8.item-text .row1::before{
    left: 100%;
}
.section5 .item4.item-text .row1::after,
.section5 .item8.item-text .row1::after{
    left: calc(100% + 96px);
}
.section5 .item-text .row2 h6{
    font-family: var(--font-family-title-k);
    color: var(--color-second);
}
.section5 .item-text .row3 h2{
    font-family: var(--font-family-title-k);
    padding: 10px 0 15px;
}
.section5 .item-text .row5{
    display: flex; gap: 10px;
}
.section5 .item-text .row5 img{
    width: 50px;
}

/* 이미지박스 초기값 */
.section5 .item-img{
    clip-path: inset(0 0 100% 0);
    transition: 1s;
}